<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WindowsFormsApp2.Properties.Settings>
            <setting name="jkac" serializeAs="String">
                <value>記帳機</value>
            </setting>
            <setting name="type" serializeAs="String">
                <value>品項</value>
            </setting>
            <setting name="inout" serializeAs="String">
                <value>類別</value>
            </setting>
            <setting name="off" serializeAs="String">
                <value>折扣</value>
            </setting>
            <setting name="enter" serializeAs="String">
                <value>enter</value>
            </setting>
            <setting name="clear" serializeAs="String">
                <value>清除</value>
            </setting>
            <setting name="comfirm" serializeAs="String">
                <value>確認</value>
            </setting>
            <setting name="jonmoney" serializeAs="String">
                <value>金額</value>
            </setting>
        </WindowsFormsApp2.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WindowsFormsApp2.Properties.Settings>
            <setting name="折扣" serializeAs="String">
                <value>類別</value>
            </setting>
        </WindowsFormsApp2.Properties.Settings>
    </applicationSettings>
</configuration>